body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav {
    background-color: #212529;
    padding: 20px 20px;
}

header.masterhead {
    background-image: url(../images/01.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masterhead {
    padding-top: 300px;
    padding-bottom: 300px;
    color: white;
}

.nav-bar-margin {
    margin-left: 1000px;
}

.main-head-text {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 5px;
}

.page-section {
    padding: 100px 0;
}

.portfolio-item:hover {
    opacity: 0.5;
}

.portfolio-control {
    margin-bottom: 25px;
}

.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
}

.second-head-text {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-control {
    background-color: #e8eaf3;
    padding: 50px;
    border-radius: 35px;
    margin-top: 15px;
}

.button-control {
    margin-top: 20px;
}

.font-awesome-style {
    font-size: 40px;
}

.social-buttons {
    margin-top: 15px;
}